extends ../../views/layout
block header
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", href="/vendor/bootstrap/docs/assets/css/bootstrap-responsive.css")
  link(rel="stylesheet", href="/vendor/bootswatch/cosmo/bootstrap.min.css")
  link(rel="stylesheet", href="/vendor/animate.css/animate.min.css")
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  script(src="//ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.debug.js")
  script(src="/socket.io/socket.io.js")
  script(src="/component/build/build.js")
  script
    var app = require('app');
    _ = require('lodash');
block content
  .container-narrow
    .masthead
      h1.muted 
        a(href="http://github.com/nashibao/mongoose-socket", target="_blank") nashibao/mongoose-socket
    .jumbotron
      p.lead
        | mongoose -> html binding using socket.io and knockout.js
    hr
    .row-fluid
      .span12
        div(data-bind="with: messages_model")
          div(data-bind="with: last_err")
            //- div(data-bind="foreach: _.values(errors)")
            div.alert.alert-primary(data-bind="text: err")
        h2 1. find {}, update {}, remove
        div(data-bind="with: messages")
          div(data-bind="foreach: docs")
            div
              div
                span.muted(data-bind="text: _id")
                span  
                span.muted(data-bind="text: number")
              form.form-inline(data-bind="submit: $root.update.bind($data)")
                input.span6(type="text", data-bind="value: content, valueUpdate: 'afterkeydown'")
                button.btn(type="submit", data-bind="click: $root.update.bind($data)") update
                a.btn.btn-danger(data-bind="click: $root.remove.bind($data)") x
          // ko foreach: pages
          a(href="#", data-bind="text: $data + 1, click: $root.view_page.bind($data)")
          // /ko
        hr
        h2 2. create {}
        form.form-inline(data-bind="submit: create.bind($data), valueUpdate: 'afterkeydown'")
          input.span8(type="text", data-bind="value: content")
          button.btn(type="submit") create
        div.muted(data-bind="text: messages_model.model.content.help_text")
        div(data-bind="with: messages_model")
          div(data-bind="visible: last_validate_err")
            div.alert.alert-primary(data-bind="text: last_validate_err")
        hr
        h2 3. count {}
        div(data-bind="with: count")
          div(data-bind="text: val")

